@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin gradientBg($direction, $startColor, $endColor) {
  background: $startColor;
  background: -moz-linear-gradient($direction, $startColor 0%, $endColor 80%, $endColor 100%);
  background: -webkit-linear-gradient($direction, $startColor 0%, $endColor 80%, $endColor 100%);
  background: linear-gradient($direction, $startColor 0%, $endColor 80%, $endColor 100%);
}