$primary-color: #081728;
$primary-light: #1A2633;
$primary-very-light: #667280;

$secondary-color:#F77F12;
$secondary-color-light: #FFBE82;
$secondary-color-very-light: #FFE6CF;
$secondary-color-dark: #CC9868;

$black: #000;
$white: #fff;
$grey: #F5F6F7;

$font-color: #1E1A33;
$transition: all  .4s;

$box-shadow: 0 5px 10px rgba($primary-color, 80%);

//header
$header-font-color: $white; 
$raise-btn: translateY(-5px);


