$primary-color: #081728;
$primary-light: #1a2633;
$primary-very-light: #667280;

$secondary-color: #f77f12;
$secondary-color-light: #ffbe82;
$secondary-color-very-light: #ffe6cf;
$secondary-color-dark: #cc9868;

$black: #000;
$white: #fff;
$grey: #f5f6f7;

$font-color: #1e1a33;
$transition: all 0.4s;

$box-shadow: 0 5px 10px rgba($primary-color, 80%);

//header
$header-font-color: $white;
$raise-btn: translateY(-5px);

$default-font-size: 1.6rem;
