@font-face {
  font-family: 'Montserrat Thin';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('~assets/fonts/Montserrat-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat SemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('~assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

