@import '~/assets/css/typography.scss';

.container {
    margin: 0 auto;
}
.primary-btn {
    @apply text-white rounded inline-block text-base;
    background: $secondary-color;
    padding: 16px 28px;
    box-shadow: $box-shadow;
    transition: .1s;
    &:hover {
        transform: translateY(-5px);
    }
    &:focus {
        transform: translateY(-4px);
    }
}
section {
    margin: 8rem auto;
}