  h1,h2,h3{
      font-family: 'Montserrat SemiBold';
  }
  .title{
      @apply text-8xl;
  }
  .section-title {
      @apply text-4xl;
      margin-top: 2rem;
      margin-bottom: 2rem;
  }
  .subtitle {
      @apply text-2xl;
  }
  a {
    @apply text-base;
  }
  .font-bold {
      font-family: 'Montserrat Bold'
  }
  .white {
      color: $white;
  }
  .orange {
      color: $secondary-color;
  }
  p {
    @apply text-base;
    color: $font-color;
  }
